.brain-root {
  max-width: 600px;
  width: 90vw;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;

  .main-brain {
    margin: 50px 0;

    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .brain-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-header {
      font-size: 16px;
      color: white;
      flex-basis: 100%;
      text-align: center;
    }

    &-child {
      flex-basis:25%;
    }
  }
}
